.bg-red {
  background-color: var(--first-color) !important;
}

.p-5p {
  padding: 5px !important;
}
.p-40 {
  padding: 40px !important;
}

.m-5p {
  margin: 5px !important;
}
.mt-70 {
  margin-top: 70px;
}
.hf-70 {
  min-height: calc(100vh - 70px) !important;
}
.h-full {
  min-height: 100vh !important;
}
.text-red {
  color: var(--text-red-color) !important;
}
/* width */
::-webkit-scrollbar {
  width: 6px;
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--first-color);
}

/* global styling */
body {
  overflow-x: hidden;
}
input[type="file"] {
  height: auto;
  opacity: 0;
  width: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
}
input,
select,
textarea {
  margin-bottom: 15px !important;
  padding: 10px 15px !important;
  border: 1px solid #f4a71d !important;
}
input[type="checkbox"] {
  margin-bottom: 0px !important;
  padding: 0px !important;
  vertical-align: middle;
  accent-color: #f4a71d;
  height: 20px;
  width: 20px;
}
.simple-input .is-invalid {
  border-color: red !important;
}

textarea {
  overflow: auto !important;
}
form {
  .star::after {
    content: "*";
  }
}
.card {
  border: 0px !important;
}
.font-bold {
  font-weight: bold;
}
.form-select:focus {
  box-shadow: none !important;
}
a {
  text-decoration: none !important;
}
.row {
  max-width: 100% !important;
  width: 100% !important;
  overflow-x: hidden;
}
.container {
  overflow-x: hidden;
}
.color-main {
  color: #f4a71d;
}
button:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}
.header_title {
  font-weight: 700;
}
p {
  color: #817f91;
}
.form-control:focus {
  box-shadow: none !important;
}

.color-denger {
  color: #ff0000;
  font-weight: 600;
}
.color-main {
  color: #f4a71d;
  font-weight: 600;
}

.color-gray {
  color: #696464;
  font-weight: 600;
}
ul {
  list-style-type: none;
}
.is-ar {
  .direction_ar {
    direction: ltr;
  }
}
.is-en {
  .simple-input input,
  .simple-input select,
  .simple-input .upload_file,
  .simple-input textarea,
  .vs--searchable .vs__dropdown-toggle,
  input {
    direction: ltr !important;
  }
}
select {
  font-size: 9px;
  border-radius: 10px;
  padding: 6px 4px;
  border: 1px solid #d7d7d7;
  background: #fff;
  background: rgba(0, 0, 0, 0)
    url("../images/global/icons/global/arrow-right.svg") no-repeat scroll
    calc(5% + 3px) center/8px auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #939598;
}
.selectForm {
  position: relative;
}
.selectForm img {
  position: absolute;
  right: 20px;
  top: 25px;
  width: 10px;
  height: 10px;
}
@media screen and (max-width: 1136px) {
  .container {
    min-width: 95% !important;
  }
}
